{% extends 'homepage/base.html' %}


{% block content %}


  <div class="py-5 text-center">
    <h2>Checkout form</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    <p>Якщо лист не надсилається!!! - <a href="">https://accounts.google.com/DisplayUnlockCaptcha</a></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
<form action="{% url  'contact' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    <label for="id_name">Имя:</label>
    <input class="form-control" id="id_name" name="name" placeholder="Имя">
	</div>
  <br/>
	<div>
    <label for="id_subject">Тема:</label>
    <input class="form-control" id="id_subject" name="subject" placeholder="Тема">
	</div>
  <br/>
	<div>
	  <label for="id_sender">E-mail:</label>
    <input class="form-control" id="id_sender" name="sender" placeholder="Ваш e-mail">
	</div>
  <br/>
	<div>
	  <label for="id_message">Сообщение:</label>
      <textarea class="form-control" id="id_message" name="message" placeholder="Введите ваше сообщение"></textarea>
	</div>
  <br/>
	<div>
	  <label for="id_copy">
      <input type="checkbox" name="copy" id="id_copy"> Отправить копию себе </label>
	</div>
  <div><input type="submit" class="btn btn-success" value="Отправить сообщение"/></div>
</form>


{% endblock %}
